name: Snyk scan

on:
  push:
    branches:
      - 'master'
    paths:
      - 'k8s/**'
  pull_request:
    branches:
      - master
    paths:
      - 'k8s/**'

permissions:
  contents: read

jobs:
  security:
    runs-on: ubuntu-24.04

    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Snyk to check IAC
        uses: snyk/actions/iac@9adf32b1121593767fc3c057af55b55db032dc04 #v1.0.0
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          file: k8s
          args: --sarif-file-output=snyk.sarif

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@0b21cf2492b6b02c465a3e5d7c473717ad7721ba # v3.23.1
        with:
          sarif_file: snyk.sarif
